<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Throttling">
					<serviceThrottling maxConcurrentCalls="2"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<msmqIntegrationBinding>
				<binding name="NewBinding0" serializationFormat="Binary" deadLetterQueue="Custom" maxReceivedMessageSize="65536">
					<security mode="None">
						<transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
					</security>
				</binding>
			</msmqIntegrationBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="Throttling" name="ApiProcessRequest.MessageService">
				<endpoint address="msmq.formatname:DIRECT=OS:.\private$\ApiSendMessage" binding="msmqIntegrationBinding" bindingConfiguration="NewBinding0" contract="ApiProcessRequest.IMessageService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
