<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SendQueue1" value="RahyabPG-single" Capacity="10" StartTime="00:00" EndTime="00:00"/>
		<add key="SendQueue2" value="RahyabPG-group"  Capacity="5"  StartTime="00:00" EndTime="00:00"/>
		<add key="SendQueue3" value="RahyabPG-bulk"	  Capacity="5"  StartTime="08:00" EndTime="20:00"/>

		<add key="RecipientAddress" value="C:\Send"/>
		<add key="SentMessageQueue" value="SentMessage"/>
		<add key="IsActiveDeliveryRelay" value="false"/>
		<add key="GetDeliveryQueue" value="GetDelivery"/>
	</appSettings>
</configuration>