.panel {
	text-align: right;
}

.panel-icon {
	right: 5px;
}

.panel-tool {
	left: 5px;
	right: auto;
}

.panel-with-icon {
	padding: 0 18px 0 0;
}

.panel-loading {
	padding: 11px 20px 10px 0px;
	margin-right: 10px;
	background-position: right center;
}

.window .window-header .panel-icon {
	right: 1px;
}

.window .window-header .panel-tool {
	left: 1px;
	right: auto;
}

.window .window-header .panel-with-icon {
	padding: 0 18px 0 0;
}

.dialog-button {
	text-align: left;
}

	.dialog-button .l-btn {
		margin: 0 5px 0 0;
	}

.messager-icon {
	float: right;
	margin: 0 0 10px 10px;
}

.tabs {
	padding: 0 4px 0 0;
}

	.rtl .tabs li {
		float: right;
		margin-right: 0;
		margin-left: 4px;
	}

.tabs-title {
	padding: 0;
}

.tabs-with-icon {
	padding-right: 18px;
}

.tabs-icon {
	left: auto;
	right: 10px;
}

.tabs-closable {
	padding-left: 8px;
}

.tabs li a.tabs-close {
	left: 5px;
	right: auto;
}

.datagrid-view1 {
	left: auto;
	right: 0;
}

.datagrid-view2 {
	left: 0;
	right: auto;
}

.datagrid-header-inner {
	float: right;
}

.datagrid-footer-inner {
	float: right;
}

.datagrid-sort-desc .datagrid-sort-icon, .datagrid-sort-asc .datagrid-sort-icon {
	padding: 0 0 0 13px;
}

.datagrid-header td {
	border-left: 1px dotted #ccc;
	border-right: 0;
}

.datagrid-body td, .datagrid-footer td {
	border-left: 1px dotted #ccc;
	border-right: 0;
}

.datagrid-mask-msg {
	padding: 12px 30px 10px 5px;
	background-position: 96% center;
}

.propertygrid .datagrid-view1 .datagrid-body td {
	border-width: 0 0 0 1px;
}

.pagination table {
	float: right;
}

.pagination-info {
	float: left;
	padding-left: 6px;
	padding-right: 0;
}

.tree-collapsed {
	background-position: 0 -18px;
}

.tree-collapsed-hover {
	background-position: -32px -18px;
}

.tree-expanded {
	background-position: -18px -18px;
}

.tree-expanded-hover {
	background-position: -50px -18px;
}

.tree-lines .tree-expanded, .tree-lines .tree-root-first .tree-expanded {
	background-position: -144px -18px;
}

.tree-lines .tree-collapsed, .tree-lines .tree-root-first .tree-collapsed {
	background-position: -128px -18px;
}

.tree-lines .tree-node-last .tree-expanded, .tree-lines .tree-root-one .tree-expanded {
	background-position: -80px -18px;
}

.tree-lines .tree-node-last .tree-collapsed, .tree-lines .tree-root-one .tree-collapsed {
	background-position: -64px -18px;
}

.tree-line {
	background-position: -176px -18px;
}

.tree-join {
	background-position: -192px -18px;
}

.tree-joinbottom {
	background-position: -160px -18px;
}

.tree-node-proxy {
	padding: 0px 20px 0px 2px;
}

.tree-dnd-icon {
	left: auto;
	right: 2px;
}

.calendar-prevmonth {
	left: auto;
	right: 20px;
	background-position: -34px -2px;
}

.calendar-nextmonth {
	left: 20px;
	right: auto;
	background-position: -18px -2px;
}

.calendar-prevyear {
	left: auto;
	right: 3px;
	background-position: -49px -2px;
}

.calendar-nextyear {
	left: 3px;
	right: auto;
	background-position: -1px -2px;
}

.calendar-menu-prev {
	background-position: -45px 2px;
	margin: 0 0 0 10px;
}

.calendar-menu-next {
	background-position: 2px 2px;
	margin: 0 10px 0 0;
}

.combobox-item, .combobox-group {
	padding: 3px 3px 3px 0;
}

.combobox-gitem {
	padding: 3px 10px 3px 0;
}

.menu {
	background-image: none;
}

.menu-content {
	background: #fff;
}

/*.menu-text{
	left:auto;
	right:28px;
	float:right;
	padding-left:0;
	padding-right:28px;
}*/
.menu-line {
	left: auto;
	right: 26px;
}

.menu-sep {
	margin: 3px 25px 3px 0;
}

.menu-icon {
	left: auto;
	right: 2px;
}

.menu-rightarrow {
	left: 0;
	right: auto;
	background-position: -48px center;
}

.menu-shadow {
	-moz-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}

.m-btn-downarrow {
	background-position: -2px center;
}

.s-btn-downarrow {
	background-position: -2px center;
	margin: 0 4px 0 0;
	padding: 0 1px 0 0;
}

a:hover.l-btn .s-btn-downarrow,
a.s-btn-active .s-btn-downarrow,
a.s-btn-plain-active .s-btn-downarrow {
	background-position: -2px center;
	border-width: 0 1px 0 0;
}

.searchbox a.l-btn-plain {
	padding: 0 0 0 6px;
}

.searchbox a.l-btn .l-btn-left {
	padding: 2px 2px 2px 0;
}

.searchbox a.l-btn-plain:hover {
	padding: 0 0 0 6px;
}

.validatebox-invalid {
	background-position: left center;
}

.slider-v .slider-rule, .slider-v .slider-rulelabel {
	direction: ltr;
}
