<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
            BotDetect configuration:

            If your project is not going to be using the Simple API,
            the "Simple API: ..." configuration lines bellow can be safely removed.

            If your project is not going to be using the Traditional API,
            the "Traditional API: ..." configuration lines bellow can be safely removed.
        -->
    <!-- Traditional API: Register the BotDetect's Configuration section -->
    <section name="DomainConfig" type="Arad.SMS.Gateway.URLRewriter.RewriterConfiguration,Arad.SMS.Gateway.URLRewriter"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Arad.SMS.Gateway.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core"/>
    </sectionGroup>
    <!-- Register the Configuration section used for BotDetect Traditional API -->
    <!-- Remove this comment to register Traditional API Configuration section
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
    -->
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <system.webServer>
    <modules>
      <add type="Arad.SMS.Gateway.URLRewriter.ModuleRewriter, Arad.SMS.Gateway.URLRewriter" name="ModuleRewriter"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="40960"/>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
        <denyUrlSequences>
          <add sequence="~"/>
          <add sequence="*"/>
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="SimpleCaptchaEndpoint"/>
      <add name="SimpleCaptchaEndpoint" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <DomainConfig>
    <domain url="localhost" theme="arad"/>
    <domain url="other" theme="arad"/>
  </DomainConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpModules>
      <add type="Arad.SMS.Gateway.URLRewriter.ModuleRewriter, Arad.SMS.Gateway.URLRewriter" name="ModuleRewriter"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!-- Traditional API: Ensuring Session State is enabled -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <controls>
        <add assembly="Arad.SMS.Gateway.GeneralTools" namespace="GeneralTools.DataGrid" tagPrefix="GeneralTools"/>
        <add assembly="Arad.SMS.Gateway.GeneralTools" namespace="GeneralTools.SearchBox" tagPrefix="GeneralTools"/>
        <add assembly="Arad.SMS.Gateway.GeneralTools" namespace="GeneralTools.SmsBodyBox" tagPrefix="GeneralTools"/>
        <add assembly="Arad.SMS.Gateway.GeneralTools" namespace="GeneralTools.SmsBodyControl" tagPrefix="GeneralTools"/>
        <add assembly="Arad.SMS.Gateway.GeneralTools" namespace="GeneralTools.TreeView" tagPrefix="GeneralTools"/>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
    <machineKey validationKey="Your validation Key" decryptionKey="Your decryption Key" validation="SHA1" decryption="AES"/>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <httpHandlers>
      <!-- Simple API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect"/>
      <!-- Traditional API: Register the HttpHandler used for BotDetect requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <!-- Traditional API: Register a custom SessionIDManager for BotDetect requests -->
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
  </system.web>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=.;Initial Catalog=Arad.SMS.Gateway.Web;Persist Security Info=True;Pooling=False"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000"/>
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.2" newVersion="5.5.13.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="recaptchaPublicKey" value="Your recaptcha Public Key"/>
    <add key="recaptchaPrivateKey" value="Your recaptcha Private Key"/>
  </appSettings>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false"/>
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false"/>
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core"/>
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css"/>
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false"/>
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core"/>
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript"/>
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
</configuration>