<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RewriterConfig" type="Arad.SMS.Gateway.URLRewriter.Config.RewriterConfigSerializerSectionHandler,Arad.SMS.Gateway.URLRewriter"/>
	</configSections>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add type="Arad.SMS.Gateway.URLRewriter.ModuleRewriter, Arad.SMS.Gateway.URLRewriter" name="ModuleRewriter" />
		</modules>
    
    <httpProtocol>
      <customHeaders>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
      </customHeaders>
    </httpProtocol>
    
	</system.webServer>
	<RewriterConfig>
		<Rules>
			<RewriterRule>
				<IsDefault>true</IsDefault>
				<LookFor>~/Home</LookFor>
				<SendTo>~/homepages/Arad/index.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/maindesktop</LookFor>
				<SendTo>~/homepages/adminpanel/arad/index.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/desktop</LookFor>
				<SendTo>~/homepages/adminpanel/arad/index.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Login</LookFor>
				<SendTo>~/homepages/arad/login.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Register</LookFor>
				<SendTo>~/homepages/arad/register.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/package/(.*)/Register</LookFor>
				<SendTo>~/homepages/arad/register.aspx?pid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Forgotpassword</LookFor>
				<SendTo>~/homepages/arad/forgotpassword.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Extendedpanel</LookFor>
				<SendTo>~/homepages/arad/extendedpanel.aspx</SendTo>
			</RewriterRule>
      <RewriterRule>
        <LookFor>~/تمدید-سامانه-پیامک</LookFor>
        <SendTo>~/homepages/arad/extendedpanel.aspx</SendTo>
      </RewriterRule>
			<RewriterRule>
				<LookFor>~/araddesktoppic/(.*)</LookFor>
				<SendTo>~/homepages/adminpanel/arad/images/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/aradpic/(.*)</LookFor>
				<SendTo>~/homepages/arad/images/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/aradjs/(.*)</LookFor>
				<SendTo>~/homepages/arad/js/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/aradfont/(.*)</LookFor>
				<SendTo>~/homepages/arad/fonts/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/fonts/(.*)</LookFor>
				<SendTo>~/fonts/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/themes/(.*)/</LookFor>
				<SendTo>~/themes/$1/$1.css</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/style/(.*)</LookFor>
				<SendTo>~/css/$1.css</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/userdocument/(.*)</LookFor>
				<SendTo>~/uploads/UserDocuments/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/maindesktopcss/(.*)</LookFor>
				<SendTo>~/homepages/adminpanel/main/css/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/aradcss/(.*)</LookFor>
				<SendTo>~/homepages/arad/css/$1.css</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Gallery/(.*)/(.*)</LookFor>
				<SendTo>~/Images/GalleryImage/$1/$2</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/export/(.*)</LookFor>
				<SendTo>~/exports/$1.xlsx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Archives/(.*)/(.*)</LookFor>
				<SendTo>~/exports/$1/$1.xlsx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/style/(.*)</LookFor>
				<SendTo>~/css/$1.css</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/script/(.*)</LookFor>
				<SendTo>~/jscripts/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{1})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{2})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{3})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{4})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{5})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{6})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{7})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{8})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(\d{9})/(.*)</LookFor>
				<SendTo>~/homepages/Arad/default.aspx?cid=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/pic/(.*)</LookFor>
				<SendTo>~/images/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/pic/(.*)/(.*)</LookFor>
				<SendTo>~/images/$1/$2</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/maindesktoppic/(.*)</LookFor>
				<SendTo>~/homepages/adminpanel/main/images/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/help/pic/(.*)</LookFor>
				<SendTo>~/UI/Help/images/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/clientrequesthandlers.aspx</LookFor>
				<SendTo>~/clientrequesthandlers.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/handler/(.*)</LookFor>
				<SendTo>~/UI/Handlers/$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/clientrequesthandlers.aspx</LookFor>
				<SendTo>~/clientrequesthandlers.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/paymentreport/(.*)</LookFor>
				<SendTo>~/paymentreport.aspx?bank=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/ExtendedPanel/(.*)</LookFor>
				<SendTo>~/paymentreport.aspx?bank=$1?extendedpanel=1</SendTo>
			</RewriterRule>
      <RewriterRule>
        <LookFor>~/تمدید-سامانه-پیامک/(.*)</LookFor>
        <SendTo>~/paymentreport.aspx?bank=$1?extendedpanel=1</SendTo>
      </RewriterRule>
			<RewriterRule>
				<LookFor>~/ExtendedNumber/(.*)</LookFor>
				<SendTo>~/paymentreport.aspx?bank=$1?extendednumber=1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/SalePackage/(.*)/(.*)</LookFor>
				<SendTo>~/paymentreport.aspx?salepackage=$1&amp;bank=$2</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/package/(.*)/Buypanel</LookFor>
				<SendTo>~/homepages/arad/buypanel.aspx?id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/maps/esfahan</LookFor>
				<SendTo>~/images/maps/esfahan.jpg</SendTo>
			</RewriterRule>
            <RewriterRule>
                <LookFor>~/assets/(.*)</LookFor>
                <SendTo>~/homepages/arad/assets/$1</SendTo>
            </RewriterRule>
		</Rules>
	</RewriterConfig>
	<system.web>
		<httpModules>
			<add type="Arad.SMS.Gateway.URLRewriter.ModuleRewriter, Arad.SMS.Gateway.URLRewriter" name="ModuleRewriter"/>
		</httpModules>
	</system.web>
</configuration>