<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataSource" value="." />
		<add key="InitialCatalog" value="Arad.SMS.Gateway.DB" />
		<add key="UserID" value="" />
		<add key="Password" value="" />
		<add key="Connecttimeout" value="180" />
		<add key="QueryTimeout" value="180" />
		<add key="DBPrefix" value="" />
		<add key="MultipleActiveResultSets" value="true"/>
	
		<add key="ThreadCount" value="10"/>

		<add key="ApplicationTempFolder" value="C:\TempUploads" />
		<add key="SecurityKey" value="Please add your security key here" />
		<add key="SecurityIV" value="Please add your security IV here" />
	</appSettings>
</configuration>