<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataSource" value="." />
		<add key="InitialCatalog" value="Arad.SMS.Gateway.DB" />
		<add key="UserID" value="" />
		<add key="Password" value="" />
		<add key="Connecttimeout" value="60" />
		<add key="QueryTimeout" value="60" />
		<add key="DBPrefix" value="" />
		<add key="MultipleActiveResultSets" value="true"/>

    <add key="ActiveQ" value="1"/>
    <!--
			0 = Q Active
      1 = DB
		-->
		<add key="IPServer" value="Your server IP"/>
		<add key="XmlReceiveFilePath" value="C:\Receives"/>
		<add key="SentMessageQueue" value="SentMessage"/>
		<add key="TrafficValidIP" value="5.160.8.130,193.104.22.13,79.175.169.229"/>
		<!--
			magfa 5.160.8.130
			RahyabRG 193.104.22.13
			RahyabPG 79.175.169.229
		-->
		<add key="ApplicationTempFolder" value="C:\TempUploads" />
		<add key="SecurityKey" value="Please add your security key here" />
		<add key="SecurityIV" value="Please add your security IV here" />
	</appSettings>
</configuration>
