<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SendQueue1" value="magfa-single" Capacity="10" StartTime="00:00" EndTime="00:00"/>
		<add key="SendQueue2" value="magfa-group"  Capacity="5"  StartTime="00:00" EndTime="00:00"/>
		<add key="SendQueue3" value="magfa-bulk"	 Capacity="5"  StartTime="08:00" EndTime="20:00"/>
		
		<add key="RecipientAddress" value="C:\Send"/>
		<add key="SentMessageQueue" value="SentMessage"/>
		<add key="IsActiveDeliveryRelay" value="true"/>
		<add key="GetDeliveryQueue" value="GetDelivery"/>
	</appSettings>
</configuration>