<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RahyabPGSmsSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <RahyabPGSmsSender.Properties.Settings>
            <setting name="RahyabPGSmsSender_RahyabPGSmsSenderService_sms" serializeAs="String">
                <value>http://rahyabbulk.ir:8020/WebService/SMS.asmx</value>
            </setting>
        </RahyabPGSmsSender.Properties.Settings>
    </applicationSettings>
</configuration>
