<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataSource" value="." />
		<add key="InitialCatalog" value="Arad.SMS.Gateway.DB" />
		<add key="UserID" value="" />
		<add key="Password" value="" />
		<add key="Connecttimeout" value="60" />
		<add key="QueryTimeout" value="120" />
		<add key="DBPrefix" value="" />
		<add key="MultipleActiveResultSets" value="true"/>

    <add key="lang" value="en" />
    
		<add key="MellatGatewayPaymentIP" value="176.56.157.159"/>
		<add key="ParsianGatewayPaymentIP" value="212.80.25.62"/>

    <add key="ServerIP" value="Your server IP"/>

		<add key="DefaultLoginPageControlID" value="10021" />
		<add key="EditProfilePageID" value="10005" />
		<add key="DataGridAvailablePageSizes" value="30,60,80,100" />
		<add key="DefaultDataGridPageSizes" value="30" />
		<add key="CheckLoginExceptions" value="10003,10096,10021,10105" />
		<add key="ApplicationTempFolder" value="C:\TempUploads" />
		<add key="SecurityKey" value="Please add your security key here" />
		<add key="SecurityIV" value="Please add your security IV here" />
	</appSettings>
</configuration>
