<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MagfaSmsSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <MagfaSmsSender.Properties.Settings>
            <setting name="MagfaSmsSender_MagfaWebService_SoapSmsQueuableImplementationService" serializeAs="String">
                <value>http://80.253.147.99/services/urn:SOAPSmsQueue</value>
            </setting>
        </MagfaSmsSender.Properties.Settings>
    </applicationSettings>
</configuration>
